/* とりあえず完成？ */
h1 {
  padding-bottom: 3%;
  padding-top: 5%;
  color: rgb(77, 130, 143);
  text-align: center;
}

body{
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(188, 255, 193);
  color: black;
  text-align: center;
}

.btn--syntax,
button.btn--teal{
  color: teal;
  background-color: rgb(179, 236, 221);
  border-color:teal
}

.btn--thistle,
button.btn--thistle{
  background-color: white;
  color:teal;
  border: 3px solid teal;
}

.form-group{
  color: teal;
}