body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}



header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background: teal;
  color: white;
  display: flex;
}

.btn--syntax,
button.btn--teal{
  color: white;
  background-color: teal;
  position: absolute;
  top: 15%;
  width: 20%;
  height: 70%;
}

.logo {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

main {
  text-align: center;
  width: 100%;
  padding: 160px 0 160px 0;
}

#maintable{
  background-color: whitesmoke;
  color: teal;
  width:80%;
  height: 10%;
  text-align: center;
  margin: auto;
}

footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background-color: teal;
  color: white;
  text-align: center;
}

footer.footline{
  line-height: 100px;
  float: left;
  font-size: 30px;
  margin: auto;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}